$reds: #FF4F2C;
$greens: #095646;
$dark: #1E0A0A;

@font-face {
    font-family: Got;
    src: url('../fonts/GothaProBol.otf');
}

@font-face {
    font-family: kirovi;
    src: url('../fonts/gl-kirovi-bold.ttf');
}

@mixin font {
    font-family: Got;
    font-weight: bold;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar {
    padding-bottom: 7px;
    padding-top: 7px;
    transition: all .3s linear;
    z-index: 889;
    &.scrol{
        padding-bottom: 20px;

        .logo{
            width: 96px;
        }
    }

    .logosec,
    .banners,
    .navbar-nav {
        width: 33.333333%;
    }

    .navbar-nav {
        justify-content: flex-end;
    }
}

a {
    text-decoration: none;
}

.logo {
    transition: all .3s linear;
    width: 110px;
    object-fit: contain;
    position: absolute;
    top: 7px;
}

.switch {

    margin-bottom: 0;
    display: flex;

    li {
        list-style: none;

        a {
            display: block;
            font-size: 14px;
            font-family: Got;
            font-weight: bold;
            color: #FFFFFF;
            padding: 18px 25px;
            text-align: center;
            min-width: 165px;
        }

        &:first-child {
            border-radius: 14px 0 0 14px;
            background-color: $reds;
        }

        &:last-child {
            border-radius: 0 20px 20px 0;
            background-color: $greens;
        }
    }

}

.profile {
    margin-right: 20px;
}

.catblock {
    margin-right: 20px;
}

#navbarNav {
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    &:not(.lns) {
        @include font();
        color: $greens;
        font-size: 14px;
    }

    i {
        font-size: 21px;
        top: 3px;
        position: relative;
    }
}

.lns {
    cursor: pointer;
    &:first-child {
        color: $reds;
    }

    &:last-child {
        color: $greens;
    }

}

.togglemenu {
    list-style: none;
    padding-left: 0;
}

.catblock,
.lans,
.menu {
    position: relative;
    top: 4px;
}

.menus {
    position: relative;
    top: -1px;
    padding: 0;
    font-size: 22px;
    margin: 0 13px;
   &.show{
    border: 1px solid  !important;
    border-color:transparent !important;
   }
   &:focus{
    border: 1px solid  !important;
    border-color:transparent !important;
   }
    i {
        color: $greens;
    }

 
}
.dropdown-menu{
    border: 1px solid #6262621a !important;
    border-radius: 11px !important;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color:$reds;
}


.dropdown-item{
    font-family: Got;
    font-weight: bold;
    font-size: 13px;
    color: #050707b0;
    padding: 9px 18px;
}

.carts {
    position: relative;

    span {
        width: 15px;
        position: absolute;
        background-color: $reds;
        color: #fff;
        font-size: 10px;
        height: 15px;
        top: 9px;
        right: 21px;
        height: 15px;
        border-radius: 50%;
        @include center();
    }

    sub {
        font-size: 12px;
        position: relative;
        top: 5px;
    }
}

.search {
    border-radius: 20px;
    margin-top: 50px;
    border: 1px solid #D8D8D8;
    padding: 26px 50px;
    font-family: Got;

    .col-lg-2,
    .col-lg-3 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-right: 1px solid #1e0a0a14;

        &:last-child {
            border-right: 1px solid transparent;
        }

    }

    input,
    select {
        &:focus {
            box-shadow: none !important;
            outline: 0;
        }
    }

    input {
        font-family: Got;
        border-radius: 8px;
        padding: 13px;
        border: 1px solid #0956471e;

        &::placeholder {
            opacity: .5;
        }
    }

    select {
        border: 0;
        font-weight: bold;

        &::placeholder {
            font-size: 18px;
            color: $dark;
        }

        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
    }

    .searchsbtn {
        border-radius: 8px;
        background-color: $greens;
        font-size: 21px;
        border: 0;
        color: #fff;
        padding: 8px 15px;
    }

    .gp4 {
        gap: 20px;
    }


}

.subheader {
    margin: 50px 0;
    font-weight: bold;
    font-family: Got;
    font-size: 27px;

    .red {
        color: $reds !important;
    }

    .green {
        color: $greens !important;
    }

}

.products {

    &.bgsc{
    background-color: #c9c9c9;

    h2{
        font-weight: bold;
        font-family: Got;
        margin-bottom: 15px;
        color: #1f2020;
        font-size: 21px;
    }
    }

    &.serc{
        .prodcard {
            .options{
                padding: 13px 12px;
                .item{
                    gap: 9px;
                }
                .moreops {
                    .item{
               
                        padding: 13px 12px;
                    }
                }
            }
            .cardbody {
                .bywith{
                    margin-top: 15px;
                    display: block;
                    button{
                        margin-top: 7px;
                        width: 100%;
                    }
                }
            }
        }
    }

    .prodcard {

        .wish {
            color: #fff;
            font-size: 20px;
            position: absolute;
            z-index: 88;
            right: 21px;
            top: 12px;
        }

        position: relative;

        .hoverable {
            overflow: hidden;


            position: relative;
        }

        .imghov {
            transition: all .6s ease-in-out;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        &:hover {
            .imghov {
                opacity: 1;
            }

        }

        margin-bottom: 35px;

        img:not(.imghov) {
            width: 100%;
            height: 230px;
            object-fit: cover;
            border-radius: 3px 3px 0 0;
        }

        .cardbody {
            padding: 13px;

            h2 {
                font-size: 21px;
                color: $dark;
            }

            p:not(.options p) {
                font-family: kirovi;
                margin-top: 15px;
                color: $dark;
                opacity: .7;
                font-size: 15px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    height: 22px;
                    background-color: white;
                    bottom: 0;
                    width: 100%;
                    opacity: 0.7;
                }
            }

            .bywith {
                display: flex;
                justify-content: space-between;
                color: $dark;
                gap: 22px;

                button {
                    font-weight: bold;
                    font-family: Got;
                    border-radius: 12px;
                    width: 50%;
                    border: 0;
                    padding: 13px 32px;
                    margin-top: 30px;
                    font-size: 13px;

                    &:nth-child(1) {
                        background-color: #AFE2D0;
                    }

                    &:nth-child(2) {
                        background-color: #F4A195;
                    }
                }
            }

        }

        .options {
            display: flex;
            justify-content: space-between;
            padding: 13px 35px;
            cursor: pointer;
            position: relative;
            border: 1px solid #70707046;
            border-radius: 7px;

        

            .moreops{
                display: none;
                border: 1px solid rgba(112, 112, 112, 0.2745098039);
                position: absolute;
                top: 113%;
                background-color: #fff;
                width: 100%;
                left: 0;
                border-radius: 7px;

                &.show{
                    display: block;
                }
 
                .item{
                  padding: 14px 35px;
                  &:hover{
                    background-color: #ff4f2c13;
                  }
                }
            }

            .item {
                cursor: pointer;
                font-family: Got;
                justify-content: space-between;
                gap: 20px;
                align-items: center;
                display: flex;
                font-weight: bold;

                p {
                    font-size: 12px;
                    margin-bottom: 0;

                    &:first-child {
                        color: $reds;
                    }
                }
            }
        }



    }

    .row {
        --bs-gutter-x: 40px;
    }
}

.banner {
    border-radius: 30px;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 70px;
    color: #fff;
    flex-flow: wrap;
    height: 100%;
    background-image: linear-gradient(45deg, #FF4F2C, #DA4426, #EA3E1B);
    position: relative;

    &.bg-green {
        background-image: linear-gradient(45deg, #105647, #095646, #0F5748);
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        width: 100%;
        background-image: url('../img/effect.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }

    h3 {
        font-family: Got;
        font-weight: bold;
        margin-bottom: 40px;
        font-size: 24px;
    }

    p {
        font-family: Got;
        font-weight: bold;
        font-size: 14px;
    }
}

.headline {
    font-size: 21px;
    font-family: Got;
    font-weight: bold;
    color: $dark;
    margin-bottom: 30px;

    &.fl {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    a {
        font-size: 12px;
        color: $greens;
        font-weight: bold;
        display: inline-block;
        padding: 5px 28px 8px 28px;
        border-radius: 50px;
        border: 1px solid #095646;
    }

    span {
        color: $greens;
        padding: 0 7px;
        position: relative;
        z-index: 2;

        &::before {
            content: "";
            width: 28px;
            z-index: -1;
            height: 28px;
            display: block;
            position: absolute;
            top: -4px;
            right: 0px;

            background-color: #F4ECDF;
            border-radius: 50%;
        }
    }
}

.promobanner {

    background-color: #F5F6FF;
    padding: 30px 0;

    .logoline{
        font-size: 19px;
        font-weight: bold;
        color: $dark;
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 25px;
        cursor: pointer;
        img{
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }

    .ban {
        font-family: Got;
        font-weight: bold;
        border: 1px solid #c9c9c977;
      
        background-color: #FFFFFF;
        border-radius: 12px;
       .headline{
          position: relative;

          .time{
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 12px;
            color: #fff;
            background-color: $reds;
            padding: 2px 12px;
            border-radius: 0 11px 11px 11px;
        }
        .cat{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 12px;
            color: #fff;
            background-color: $greens;
            padding: 2px 12px;
            border-radius:  11px 0 11px 11px;
        }

        .loc{
            position: absolute;
            width: 35px;
            height: 35px;
            background-color: #fff;
            cursor: pointer;
            color: $reds;
            left: 7px;
            top: 7px;
            border-radius: 50%;
            @include center();

        }

       }
        

        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-radius: 12px;

        }

        .banbody {
            padding: 12px 17px;

            a {
                color: transparent;
            }
        }

        h3 {
            font-size: 19px;
            font-weight: bold;
            color: $dark;
        }

        p {
            margin-top: 17px;
            font-size: 13px;
            color: $dark;
            opacity: .6;
            margin-bottom: 0;
            font-weight: bold;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                height: 22px;
                background-color: white;
                bottom: 0;
                width: 100%;
                opacity: .5;
                left: 0;
            }
        }
    }

}

.sw-arrow {
    button {
        width: 42px;
        border: 0;
        height: 42px;
        border-radius: 50%;
        background-color: $reds;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
            margin-right: 25px;
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.slog {
    padding: 105px 0;
    margin: 30px 0;
    text-align: center;
    background-color: #F5F6FF;
    background-image: url('../img/logo.png');
    background-size: 6%;
    background-blend-mode: lighten;

    h5 {
        font-size: 35px;
        color: $greens;
        font-weight: bold;
        font-family: Got;

        span {
            color: $reds;
        }
    }


}

.newlatters {
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 50%;
        left: 0;
        width: 100%;
        background-color: #F0F0F0;
        bottom: 0;
    }
}

.newl {
    position: relative;

    .inps {
        display: flex;
        margin-top: 50px;
        position: relative;

        .btn-sends {
            position: absolute;
            width: 45px;
            height: 45px;
            @include center();
            background-color: $reds;
            border-radius: 7px;
            color: #fff;
            right: 7px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    h4 {
        font-weight: bold;
        font-family: Got;
        color: #fff;
        font-size: 25px;
        text-align: center;
    }

    background-color: $greens;
    padding: 50px 110px;
    border-radius: 18px;
    box-shadow: 0 55px 44px #171b1a1a;

    input {
        border-radius: 10px !important;
        border: 0;
        height: 57px;

        &::placeholder {
            font-family: Got;
            font-weight: bold;
            opacity: .6;
        }
    }
}

footer {
    background-color: #F0F0F0;
    padding: 50px 0 0 0;

    .footlogo {
        width: 120px;
        max-width: 100%;
        margin-top: 50px;
        object-fit: contain;
    }

    .fotheader {
        font-size: 21px;
        font-family: Got;
        margin-bottom: 25px;
        font-weight: bold;
        color: $dark;
    }

    a {
        display: block;
        font-family: Got;
        font-weight: bold;
        color: $dark;
        opacity: .7;
        padding-left: 15px;
        font-size: 15px;
        margin-bottom: 13px;
    }

    .social {
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-bottom: 30px;
        color: $reds;
        gap: 30px;

        i {
            background-color: #fff;
            border-radius: 50%;
            @include center();
            width: 50px;
            height: 50px;
        }
    }

    .copy {
        margin-top: 50px;
        background-color: #DFDDDD;
        padding: 15px 0;
        color: $dark;
        font-family: Got;
        font-weight: bold;
    }

    .minh {
        min-height: 180px;
    }
}

.rightnav {
    position: fixed;
    z-index: 555;
    font-family: Got;
    font-weight: bold;
    top: 25%;
    right: 0;
    padding: 8px;
    background-color: $reds;
    border-radius: 34px 0 0 34px;

    .icon {
        position: relative;
        display: block;
        color: #fff;
        padding: 10px;
        border-bottom: 1px solid #ffffff5a;

        &:last-child {
            border-bottom: 0;
        }

        span {
            position: absolute;
            opacity: 0;
            transform: translate(100%, -50%);
            top: 50%;
            transition: all .6s ease-in;
        }

        &:hover {
            span {
                opacity: 1;
                background-color: #FF4F2C;
                display: inline-block;
                padding: 11px 25px;
                transform: translate(-120%, -50%);
                border-radius: 7px;
            }

        }
    }
}


.mobbar {
 
    display: none;
    position: fixed;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    padding: 13px;
    bottom: 1%;
    z-index: 888;
    box-shadow: 4px 7px 9px #2119194f;
    border-radius: 8px;
    background-color: #fff;
  
    align-items: center;
    justify-content: space-between;

    a {
        color: $reds;
        width: 20%;
        text-align: center;
        font-family: Got;
        font-weight: bold;

        &.activation {
            width: 40%;
            color: $reds;
            background-color: rgba(255, 79, 44, 0.1490196078);
            padding: 8px 15px 9px 15px;
            border-radius: 7px;
        }
    }
}

.openmenu, .mobnavbar, .close{
    display:none;
}

.showform{
    border: 0;
    border-radius: 7px;
    background-color: $reds;
    color: #fff;
    font-family: Got;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 20px;
}

.langmen{
    min-width: 2rem;
    transform: translateX(39%);
}


.mini-header{
    padding: 40px 0 30px 0;
    ul{
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 12px;
        font-family: Got;
        font-weight: bold;
        
        li{
            a{
                color: $dark;
            }
        &.active{
            color: $reds;
        } 
        }
    }
}

.contacts{
    background-color: #c9c9c91f;
    padding: 50px 0;
    .contcard{
        background-color: #FFFFFF;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 25px;    
        font-family: Got;
        gap: 35px;
        font-weight: bold;
        .icons{
            width: 20%;
        }
        .texts{
            width: 80%;
        }
        p{
            color: $reds;
            font-size: 18px;
        }
        i{
            color: $reds;
            width: 65px;
 
            border-radius: 50%;
            @include center();
            height: 65px;
            background-color: #F8F8F8;
        }
    }
}

.base-form{
    border-radius: 12px;
    font-family: Got;
    font-weight: bold;
    background-color: #fff;
    padding: 40px;

      .doted{
        border-radius: 12px;
        padding: 30px;
        border: 1px dashed #095646;
        .send{
            margin: 30px auto;
        }
    }

    input, textarea, select{
        margin-bottom: 30px;
        background-color: #F5F5F5;
        border: 0;
        ::placeholder{
            font-family: Got;
            font-size: 11px;
            font-weight: bold;
            color: #707070;
        }
    }
    input,select,textarea{
        min-height: 70px;
        border-radius: 3px;
        padding: 13px 38px;
    }
 
    h4{
        font-weight: bold;
        font-size: 21px;
        color: #1B3C35;
        margin-bottom: 35px;
    }
    button{
        border-radius: 3px;
        border: 0;
        color: #fff;
        padding: 13px 38px;
        font-family: Got;
        font-size:18px;
        font-weight: bold;
       &.send{
        background-color: #36BB2C;
        display: block;
        margin:50px auto;
        ;
    } 
    &.save-user{
        background-color: $reds
    }
    }
    
}
 
.steped{
    cursor: pointer;
}

.useraside{
    background-color: #FFFFFF;
    border-radius: 12px;
    .userinfo{
        padding: 30px 50px;
        display: flex;
        align-items: center;
        
        .ic{
            width: 30%;
            i{
                font-size: 26px;
                @include center();
                background-color: #c9c9c971;
                border-radius: 50%;
                color: $reds;
                width: 64px;
                height: 64px;
            }
        }
        .names{
            p{
                font-family: Got;
                font-size: 18px;
                color: $dark;
                margin-bottom: 9px;
                font-weight: bold; 
                &::first-line{
                    color: #00000099;
                    font-size: 16px;
                }
            }
            width: 70%;
        }
    }
    .usermenus{
        margin-top: 50px;
        ul{
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            li{
                border-left:2px solid transparent ;
                transition: all .6s linear;
                padding: 11px 50px 14px;
                &:first-child{
                    border-left:2px solid #095646 ;
                }

                &:hover{
                    border-left:2px solid #095646 ;
                }
                
                i{
                   margin-right: 25px;
                   font-size: 18px;
                   color:  #707070;
                   position: relative;
                   top: 3px;
                }
                a{
                font-family: Got;
                color: #203d37dd;
                font-size: 16px;
                font-weight: bold; 
                }
             
            }
        }
    }
}

#bd{
    i{
        position: absolute;
        right: 30px;
        top: 24%;
    }
}

.auth-sec{
        border-radius: 12px;
        font-family: Got;
        font-weight: bold;
        background-color: #fff;
        padding: 40px;
        h4{
            font-weight: bold;
            font-size: 21px;
            color: #1B3C35;
            margin-bottom: 35px;
        }
}

.myorders{
    border: 1px solid rgb(201 201 201 / 28%);
    border-radius: 3px;
    padding: 20px;
    border-left: 4px solid transparent;
    transition: all  .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover{
        border-left: 4px solid $greens;
    }

    h5{
        font-size: 16px;
        font-weight: bold;
        font-family: Got;
        color: #1B3C35;
    }
    p{
        font-family: Got;
        font-weight: bold;
        color: #1B3C35;
        opacity: .6;
        margin-bottom: 0;
        font-size: 12px;
        &.status {
            
            &.succ{
            color: rgb(41, 154, 41);
            }
        }
    }
}

.addrow{
    padding: 40px;
    border-top: 1px dashed #cccccc57;
}

.user-addr{
    position: relative;
    background-color: whitesmoke;
    padding: 22px;
    border: 1px solid #c9c9c933;
    border-radius: 7px;
    min-height: 88px;
    p{
        font-size: 14px;
        color: #000000;
        opacity: .6;
        font-family: Got;
        font-weight: bold;
        margin-bottom: 0;
    }
    .edit{
        position: absolute;
        right: 7px;
        
        top: 7px;
        background-color: #8bc34a75;
        color: #4CAF50;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        font-size: 11px;
    }
    .addtrash{
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        button{
            transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
            width: 40px;
            height: 40px;
            opacity: 0;
            color: red;
            transform: scale(0);
            background-color: whitesmoke;
            @include center();
            border: 1px solid #c9c9c933;
            border-radius: 50%;
        }
    }
    &:hover{
        button{
        transform: scale(1);
        opacity: 1;
        }
    }
}


.costumcheck{
    label{
        width: 100%;
        background-color: #F5F5F5;
        height: 43px;
        cursor: pointer;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 9px;
        position: relative;
        color: #707070;
        padding-right: 14px;
        .ball{
            width: 32px;
            height: 32px;
            color: #fff;
            transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
            @include center();
            border:  1px solid #607d8b4d;
            border-radius: 50%;
        }

        .borders{
            position: absolute;
            width: 100%;
            transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
            left: 0;
            top:0;
            height: 100%;
            border-radius: 50px;
            border:  1px solid rgba(255, 0, 0, 0);
            display: block;

        }

        input:checked{
            & ~ .ball{
                border:  1px solid rgba(255, 0, 0, 0);
                background-color: $reds;
            }

            & ~ .borders{
               
                border: 1px solid $reds;
     
            }
        }
    }

 
}

.regis{
    padding: 0 25px;
    input,  textarea{
        border: 0;
        border-radius: 7px;
        font-family: Got;
        font-weight: bold;
        height: 65px;
        background-color: #F5F5F5;
        margin-bottom: 30px;
        &::placeholder{
            font-family: Got;
            font-weight: bold;
        }
      
    }  
    textarea{
            height: auto;
        }

    button{
        color: #fff;
    background-color: #FF4F2C;
    border-radius: 7px;
    padding: 12px 22px;
    font-family: Got;
    font-weight: bold;
    border: 0;
    }
}

.modal-content{
 border-radius: 30px;
}

.modal-body{
    &::-webkit-scrollbar {
        width: 3px;
        border-radius: 7px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 7px;
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $reds;
        border-radius: 7px;
        border-radius: 7px;
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $greens;
      }
}

.dialog-header{
  justify-content: space-between;
  padding: 35px 0;
  display: flex;
    h6{
        font-family: Got;
        font-weight: bold;
        color: #095646;
        font-size: 21px;
        margin-bottom: 0;
        padding: 15px 45px;
        display: flex;
        align-items: center;
        position: relative;
    &::before{
        content: "";
        width: 5px;
        display: inline-block;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $reds;
        border-radius: 0 7px 7px 0;
    }
    }
  .btn-close{
    width: 50px;
    height: 50px;
    background-color: #c9c9c930;
    border-radius: 50%;
    opacity: 1;
    margin-right: 30px;
  }
}

.socialsign{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 0 12px;
 

    &.fb{
        background-color: #2e89ff;
    }

    &.goo{
        background-color: #e94235;
    }

}

.openregister{
    background-color: #607d8b21;
    padding: 25px;
    text-align: center;
    margin: 15px 0;
    border-radius: 12px;
    p{
        font-family: Got;
        font-weight: bold;
        margin-bottom: 25px;
    }
    button{
        background-color: $greens !important;
    }
}

.detals-header{
    padding: 18px 0 0 0;
    height: 60vh;
    .swiper {
        height: 100%; 
        .swiper-slide{
        video, img{
            height: 100%;
            object-fit: cover;
            width: 100%;
            object-position: center;
        }
    }
    }
   
}

.breadcrumb{
    padding: 15px 0;
    font-family: Got;
    font-weight: bold;
    a{
        color: $dark;
    }

    .active{
        color: $reds;
    }
}

.insidehead{
    font-family: Got;
    font-size: 23px;
    color: $dark;
    font-weight: bold;
}

.descr{
    padding: 25px;
    background-color: #b6b6b625;
    font-family: Got;
    margin-top: 10px;
    border-radius: 7px;
    font-size: 14px;
    color: $dark;
    opacity: .8;
  
}

.ordersec   {
    padding: 20px;
    box-shadow: 0px 3px 12px #0000001c;
    border-radius: 12px;
    margin-top: 20px;
    h4{
        font-family: Got;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 30px;
        color: $dark; 
    }
    .promos{
        font-size: 13px;
        font-family: Got;
        background-color: #c9c9c94d;
        border-radius: 7px;
        padding: 25px;
        font-weight: bold;
        color: #1e0a0a91;
        margin-top: 30px;
    }
}

.initem{
    display: flex;
    font-family: Got;
    font-weight: bold;
    align-items: center;
   
    margin-bottom: 10px;
    padding: 15px; 

    i{
        width: 35px;
        margin-right: 15px;
        height: 35px;
        @include center();
        background-color: #1e0a0a21;
        border-radius: 3px;
    }
}


.slider{
    .swiper{
        padding: 50px 0;

        .swiper-pagination-bullet{
            width: 14px;
            height: 14px;
             &-active {
            opacity: var(--swiper-pagination-bullet-opacity, 1);
            background: #F44336;
           
        }
        }
        
    }
    img{
       
    width: 100%;
    height: 100px;
    border-radius: 7px;
    box-shadow: 0 4px 7px #00000016;
    object-position: center;
    object-fit: cover;
    }
   
 
}

.swi{
    button{
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 0;
        color: #fff;
        background-color: $reds;
        width: 40px;
        height: 40px;

    }
}

.marchant{
    h5{
        font-family: Got;
        font-weight: bold;
        font-size: 17px;
        color: $reds;
    }
    p{
        font-family: Got;
        font-weight: bold;
        color: $dark;
        font-size: 14px;
        margin: 15px 0  25px 0;
        opacity: .6;
    }

    a{
        color: $greens;
        display: block;
        font-family: Got;
        font-weight: bold;
        margin-bottom: 15px;
        i{
            position: relative;
            top: 3px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            background-color: #0000002a;
            border-radius: 3px;
            margin-right: 12px;

        }
    }
}


.posters{
    h3{
        font-family: Got;
        font-weight: bold;
        font-size: 18px;
        color: #4F4F50;
        padding: 7px 0;
    }
    a{
        color: #5260F7;
        margin: 13px 0;
        font-size: 14px;
        font-weight: bold;

    }
}

.detalspost-header{
    margin: 15px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    background-color: #0956469e;
    background-blend-mode: multiply;
    .breadcrumb{
         margin-bottom: 0;
        a{
             color: #fff;
        }
        li{
           &::before {
                
                color: rgb(255 255 255 / 75%);
    
            }
        }
    }
    .insidehead{
        color: #fff;
        width: 40vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .infosec{
       
        margin-top: 30px;
        button{
            margin-bottom: 15px;
            font-family: Got;
            font-weight: bold;
            color: #fff;
            font-size: 14px;
            border: 0;
            border-radius: 9px;
            margin-right: 12px;
            padding: 13px 27px;
        }
        .ord{
         background-color: $reds;
        }
        .times{
            background-color: $greens;
        }
        .save{
            background-color: $greens;
        }
    }
}

.noUi-horizontal  .noUi-handle {
    width: 25px;
    height: 25px;
    box-shadow: none;
    border-radius: 50%;
    top: -12px;
    background-color: $reds;
    border: 0;

    &::before, &::after{
        display: none;
    }
   
}

.noUi-connect {
    background: $reds;
}

.noUi-target{
    height: 3px;
    border: 0;
    box-shadow: none;
    background-color: #607d8b36;
}
 
.searchform{
    input, select{
        padding: 12px;
        font-family: Got;
        font-weight: bold;
        border-radius: 5px;
        border: 1px solid #e4ecff;
    }

    select{
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
        padding-right: 7px;
    }
 
    font-family: Got;
    padding: 12px 25px 25px 25px;
    box-shadow: 0 4px 12px #cccccc3b;
    border-radius: 11px;
   h1{
    font-weight: bold;
    padding-bottom: 18px;
    font-size: 21px;
    border-bottom: 1px solid #cccccc5c;
   }
   h3{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 18px;
   }
   .f-c{
    padding: 20px 0;
   }
   .category {
    ul{
        padding-left: 0;
        list-style: none;
        li{
            font-family: Got;

            padding: 7px 15px  ;
            border-radius: 2px;
            transition:  all .3s ease-in-out;
            cursor: pointer;
            &:hover{
                background-color: $reds;
                color: #fff;
            }
        }
    }
   }
}

.sorts{
    width: fit-content;
    select{
        padding: 12px;
        font-family: Got;
        font-weight: bold;
        border-radius: 5px;
        border: 1px solid #e4ecff;
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
        margin-bottom: 30px;
    }
}

.categ{
    background: #0956460a;
    padding: 25px 0;
    margin: 30px 0;
    .categs {

        cursor: pointer;
        text-align: center;
        padding: 10px;
        border: 1px solid #bcdded47;
        border-radius: 6px;
        background-color: #fff;

        img{
            width: 80px;
            object-fit: contain;
            height: 80px;
        }
        text-align: center;
        h1{
         margin-top: 20px;
        font-size: 23px;
        color: $greens;
        font-family: Got;
        font-weight: bold; 
        }
       
    }
}

.namearr{
  h4{
    color: $greens;
    font-family: Got;
    font-weight: bold; 
    font-size: 18px;
    margin-bottom: 20px;
  }
  .swicont{
    i{
        cursor: pointer;
    }
}  
}

.calendar{
       position: relative;

       .datsc{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        @include center();
        &.scleft{
            left: 0;
        }
        &.sclright{
            right: 0;
        }
    }
}

.calensec{
    overflow: hidden;
    display: flex;
    scroll-behavior: smooth;
    gap: 30px;
    padding: 0 40px;
 
 
    h2{
        font-family: Got;
        font-weight: bold; 
        font-size: 21px;
        margin-bottom: 15px;
        color: $greens;
    }
    .allday{
        display: flex;
        gap: 25px;
        .dayname{
            text-align: center;
            cursor: pointer;
            p{
                margin-bottom: 4px;
                font-family: Got;
                font-weight: bold; 
            }
        }
    }
}

.steps{
 padding: 20px 0;
.base-step{
    display: flex;
    gap: 22px;
    justify-content: center;
    .step{
        display: flex;
        align-items: center;
        gap: 22px;

 

        .base-text{
            text-align: center;
            width: 108px;
            height: 108px;
            border-radius: 50%;
            border: 1px dashed #ccc;
            color: #ccc;
            padding-top: 22px;
            font-size: 17px;
            font-family: 'Got';
            font-weight: bold;
        }
        .icons{
            i{
                 color: #ccc;
                 font-size: 33px;
            }
           
        }

        &.active{
            .base-text{
                border: 1px dashed $reds;
                color: $reds;
            }
            .icons{
               i{
                color: $reds;
               }
            }
        }
    }
 }
}

.cartitem{
    img{
        border-radius: 7px 0 0 7px;
        height: 170px;
        width: 100%;
        object-fit: cover;
    }
    h3{
        font-family: 'Got';
        font-weight: bold;
        font-size: 18px;
        color: $dark;
    }
    p{
        font-family: 'Got';
        font-weight: bold;
        font-size: 17px;
        color: $reds;
    }
    small{
        font-family: 'Got';
        font-weight: bold;
        font-size: 13px;
        color: $dark;
        opacity: .6;
    }

    .btrmcart{
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 9px;
        border: 2px dashed #ff0000a3;
        color: red;
        background-color: #fff;
        width: 45px;
        height: 45px;
    }
}

.sum{
    padding: 17px;
    background-color: #FF4F2C;
    border-radius: 7px;
    h3, p{
        font-family: 'Got';
        font-weight: bold;
        font-size: 15px;
        color: #fff;
        
    }
  

    p{
        font-size: 18px;
    }

    button{
      background-color: #fff;
      font-family: 'Got';
      color: $reds;
      padding: 15px 0;
      display: block;
      width: 100%;
      text-align: center;
      border: 0;
      border-radius: 7px;
      font-weight: bold;
      font-size: 15px;
    }
}

.go-back{
    color: #707070;
    font-family: 'Got';
    font-weight: bold;
    font-size: 18px;
    i{
        font-size: 24px;
        position: relative;
        top: 4px;
    }
}

.mine-cart{

    .packhge{
        font-family: 'Got';
        font-weight: bold;
        font-size: 20px;
        color: $dark;
        margin-bottom: 30px;
    }

    .baseimgs{
        height: 350px;
        max-width: 100%;
        object-fit: contain;
        border-radius: 13px;
    }

    .col-lg-9{
        display: none;
        &.show{
            display: block;
        }
    }

    .variant{
        margin-top: 40px;
        img{
            padding: 10px;
            border-radius: 7px;
            max-width: 100%;
            border: 1px solid transparent;
            margin-right: 30px;
            margin-bottom: 30px;
            cursor: pointer;
            &.act{
                border: 1px solid #eee; 
            }
        }
    }
}



.orderType{

    &.addrs{
     min-height: 82px;
     @include center();
    }

    &.curr{
        color: $reds;
        border: 1px solid $reds;
        span{
            display: flex;
        }
    }

    span{
        display: none;
        width: 30px;
        height: 30px;
        position: absolute;
        right:0;
        top: 0;
        transform: translate(50%, -50%);
        font-size: 25px;
        background-color: #fff;
        border-radius: 50%;
        justify-content: center;
        align-items:center;
        border: 2px solid $reds;
    }
    position: relative;
    color: #707070;
    border: 1px solid #707070;
    padding: 16px;
    border-radius: 9px;
    cursor: pointer;
   p, small{
    font-family: 'Got';
    font-weight: bold;
 
   
   }
   p{
    font-size: 16px;
   }

   small{
    font-size: 11px;
    opacity: .6;
    position: relative;
    bottom: 6px;
   }
    
}

.packing{
    h3,p{
        font-family: 'Got';
        font-weight: bold;
        font-size: 24px;
        color: $dark;
        margin-bottom: 0;
    }

    small{
        margin-bottom: 10px;
        display: block;
        opacity: .6;
    }
}

.digitals{
    display: none;

    p{
        background-color: #0956470f;
        border-radius: 12px;
        padding: 30px;
        font-family: 'Got';
        font-weight: bold;
        font-size: 16px;
        color: $dark;
    }
}

.openfill{
    display: block;
    width: 100%;
    font-family: 'Got';
    font-weight: bold;
    padding: 15px;
    border: 0;
    border-radius: 7px;
    font-size: 16px;
    background-color: $greens;
    color: #fff;
    display: none;
}

.closeform{
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 99999;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: #ff2238;
    color: #fff;
    border-radius: 7px;
    &.opens{
        display: block;
    }
}

.mobsrch{
    width: 82%;
    position: fixed;
    height: 57px;
    border: 0;
    background-color: $reds;
    left: 50%;
    font-family: 'Got';
    font-weight: bold;
    transform: translateX(-50%);
    border-radius: 7px;
    bottom: 20px;
    z-index: 99999;
    color: #fff;
    font-size: 21px;
    display: none;
    &.opens{
        display: block;
    }
}
@import "responsive"