@font-face {
  font-family: Got;
  src: url("../fonts/GothaProBol.otf");
}
@font-face {
  font-family: kirovi;
  src: url("../fonts/gl-kirovi-bold.ttf");
}
.navbar {
  padding-bottom: 7px;
  padding-top: 7px;
  transition: all 0.3s linear;
  z-index: 889;
}
.navbar.scrol {
  padding-bottom: 20px;
}
.navbar.scrol .logo {
  width: 96px;
}
.navbar .logosec,
.navbar .banners,
.navbar .navbar-nav {
  width: 33.333333%;
}
.navbar .navbar-nav {
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

.logo {
  transition: all 0.3s linear;
  width: 110px;
  object-fit: contain;
  position: absolute;
  top: 7px;
}

.switch {
  margin-bottom: 0;
  display: flex;
}
.switch li {
  list-style: none;
}
.switch li a {
  display: block;
  font-size: 14px;
  font-family: Got;
  font-weight: bold;
  color: #FFFFFF;
  padding: 18px 25px;
  text-align: center;
  min-width: 165px;
}
.switch li:first-child {
  border-radius: 14px 0 0 14px;
  background-color: #FF4F2C;
}
.switch li:last-child {
  border-radius: 0 20px 20px 0;
  background-color: #095646;
}

.profile {
  margin-right: 20px;
}

.catblock {
  margin-right: 20px;
}

#navbarNav {
  justify-content: space-between;
  align-items: center;
}

.nav-link:not(.lns) {
  font-family: Got;
  font-weight: bold;
  color: #095646;
  font-size: 14px;
}
.nav-link i {
  font-size: 21px;
  top: 3px;
  position: relative;
}

.lns {
  cursor: pointer;
}
.lns:first-child {
  color: #FF4F2C;
}
.lns:last-child {
  color: #095646;
}

.togglemenu {
  list-style: none;
  padding-left: 0;
}

.catblock,
.lans,
.menu {
  position: relative;
  top: 4px;
}

.menus {
  position: relative;
  top: -1px;
  padding: 0;
  font-size: 22px;
  margin: 0 13px;
}
.menus.show {
  border: 1px solid !important;
  border-color: transparent !important;
}
.menus:focus {
  border: 1px solid !important;
  border-color: transparent !important;
}
.menus i {
  color: #095646;
}

.dropdown-menu {
  border: 1px solid rgba(98, 98, 98, 0.1019607843) !important;
  border-radius: 11px !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #FF4F2C;
}

.dropdown-item {
  font-family: Got;
  font-weight: bold;
  font-size: 13px;
  color: rgba(5, 7, 7, 0.6901960784);
  padding: 9px 18px;
}

.carts {
  position: relative;
}
.carts span {
  width: 15px;
  position: absolute;
  background-color: #FF4F2C;
  color: #fff;
  font-size: 10px;
  height: 15px;
  top: 9px;
  right: 21px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carts sub {
  font-size: 12px;
  position: relative;
  top: 5px;
}

.search {
  border-radius: 20px;
  margin-top: 50px;
  border: 1px solid #D8D8D8;
  padding: 26px 50px;
  font-family: Got;
}
.search .col-lg-2,
.search .col-lg-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid rgba(30, 10, 10, 0.0784313725);
}
.search .col-lg-2:last-child,
.search .col-lg-3:last-child {
  border-right: 1px solid transparent;
}
.search input:focus,
.search select:focus {
  box-shadow: none !important;
  outline: 0;
}
.search input {
  font-family: Got;
  border-radius: 8px;
  padding: 13px;
  border: 1px solid rgba(9, 86, 71, 0.1176470588);
}
.search input::placeholder {
  opacity: 0.5;
}
.search select {
  border: 0;
  font-weight: bold;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}
.search select::placeholder {
  font-size: 18px;
  color: #1E0A0A;
}
.search .searchsbtn {
  border-radius: 8px;
  background-color: #095646;
  font-size: 21px;
  border: 0;
  color: #fff;
  padding: 8px 15px;
}
.search .gp4 {
  gap: 20px;
}

.subheader {
  margin: 50px 0;
  font-weight: bold;
  font-family: Got;
  font-size: 27px;
}
.subheader .red {
  color: #FF4F2C !important;
}
.subheader .green {
  color: #095646 !important;
}

.products .prodcard {
  position: relative;
  margin-bottom: 35px;
}
.products .prodcard .wish {
  color: #fff;
  font-size: 20px;
  position: absolute;
  z-index: 88;
  right: 21px;
  top: 12px;
}
.products .prodcard .hoverable {
  overflow: hidden;
  position: relative;
}
.products .prodcard .imghov {
  transition: all 0.6s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.products .prodcard:hover .imghov {
  opacity: 1;
}
.products .prodcard img:not(.imghov) {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 3px 3px 0 0;
}
.products .prodcard .cardbody {
  padding: 13px;
}
.products .prodcard .cardbody h2 {
  font-size: 21px;
  color: #1E0A0A;
}
.products .prodcard .cardbody p:not(.options p) {
  font-family: kirovi;
  margin-top: 15px;
  color: #1E0A0A;
  opacity: 0.7;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  position: relative;
}
.products .prodcard .cardbody p:not(.options p)::before {
  position: absolute;
  content: "";
  height: 22px;
  background-color: white;
  bottom: 0;
  width: 100%;
  opacity: 0.7;
}
.products .prodcard .cardbody .bywith {
  display: flex;
  justify-content: space-between;
  color: #1E0A0A;
  gap: 22px;
}
.products .prodcard .cardbody .bywith button {
  font-weight: bold;
  font-family: Got;
  border-radius: 12px;
  width: 50%;
  border: 0;
  padding: 13px 32px;
  margin-top: 30px;
  font-size: 13px;
}
.products .prodcard .cardbody .bywith button:nth-child(1) {
  background-color: #AFE2D0;
}
.products .prodcard .cardbody .bywith button:nth-child(2) {
  background-color: #F4A195;
}
.products .prodcard .options {
  display: flex;
  justify-content: space-between;
  padding: 13px 35px;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(112, 112, 112, 0.2745098039);
  border-radius: 7px;
}
.products .prodcard .options .moreops {
  display: none;
  border: 1px solid rgba(112, 112, 112, 0.2745098039);
  position: absolute;
  top: 113%;
  background-color: #fff;
  width: 100%;
  left: 0;
  border-radius: 7px;
}
.products .prodcard .options .moreops.show {
  display: block;
}
.products .prodcard .options .moreops .item {
  padding: 14px 35px;
}
.products .prodcard .options .moreops .item:hover {
  background-color: rgba(255, 79, 44, 0.0745098039);
}
.products .prodcard .options .item {
  cursor: pointer;
  font-family: Got;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  display: flex;
  font-weight: bold;
}
.products .prodcard .options .item p {
  font-size: 12px;
  margin-bottom: 0;
}
.products .prodcard .options .item p:first-child {
  color: #FF4F2C;
}
.products .row {
  --bs-gutter-x: 40px;
}

.banner {
  border-radius: 30px;
  align-content: center;
  justify-content: center;
  display: flex;
  padding: 70px;
  color: #fff;
  flex-flow: wrap;
  height: 100%;
  background-image: linear-gradient(45deg, #FF4F2C, #DA4426, #EA3E1B);
  position: relative;
}
.banner.bg-green {
  background-image: linear-gradient(45deg, #105647, #095646, #0F5748);
}
.banner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  width: 100%;
  background-image: url("../img/effect.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.banner h3 {
  font-family: Got;
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 24px;
}
.banner p {
  font-family: Got;
  font-weight: bold;
  font-size: 14px;
}

.headline {
  font-size: 21px;
  font-family: Got;
  font-weight: bold;
  color: #1E0A0A;
  margin-bottom: 30px;
}
.headline.fl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headline a {
  font-size: 12px;
  color: #095646;
  font-weight: bold;
  display: inline-block;
  padding: 5px 28px 8px 28px;
  border-radius: 50px;
  border: 1px solid #095646;
}
.headline span {
  color: #095646;
  padding: 0 7px;
  position: relative;
  z-index: 2;
}
.headline span::before {
  content: "";
  width: 28px;
  z-index: -1;
  height: 28px;
  display: block;
  position: absolute;
  top: -4px;
  right: 0px;
  background-color: #F4ECDF;
  border-radius: 50%;
}

.promobanner {
  background-color: #F5F6FF;
  padding: 30px 0;
}
.promobanner .ban {
  font-family: Got;
  font-weight: bold;
  border: 1px solid rgba(201, 201, 201, 0.4666666667);
  background-color: #FFFFFF;
  border-radius: 12px;
}
.promobanner .ban img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}
.promobanner .ban .banbody {
  padding: 12px 17px;
}
.promobanner .ban .banbody a {
  color: transparent;
}
.promobanner .ban h3 {
  font-size: 19px;
  font-weight: bold;
  color: #1E0A0A;
}
.promobanner .ban p {
  margin-top: 17px;
  font-size: 13px;
  color: #1E0A0A;
  opacity: 0.6;
  margin-bottom: 0;
  font-weight: bold;
  position: relative;
}
.promobanner .ban p::after {
  position: absolute;
  content: "";
  height: 22px;
  background-color: white;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
  left: 0;
}

.sw-arrow button {
  width: 42px;
  border: 0;
  height: 42px;
  border-radius: 50%;
  background-color: #FF4F2C;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sw-arrow button:first-child {
  margin-right: 25px;
}
.sw-arrow .swiper {
  width: 100%;
  height: 100%;
}
.sw-arrow .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slog {
  padding: 105px 0;
  margin: 30px 0;
  text-align: center;
  background-color: #F5F6FF;
  background-image: url("../img/logo.png");
  background-size: 6%;
  background-blend-mode: lighten;
}
.slog h5 {
  font-size: 35px;
  color: #095646;
  font-weight: bold;
  font-family: Got;
}
.slog h5 span {
  color: #FF4F2C;
}

.newlatters {
  position: relative;
}
.newlatters::before {
  content: "";
  display: block;
  position: absolute;
  height: 50%;
  left: 0;
  width: 100%;
  background-color: #F0F0F0;
  bottom: 0;
}

.newl {
  position: relative;
  background-color: #095646;
  padding: 50px 110px;
  border-radius: 18px;
  box-shadow: 0 55px 44px rgba(23, 27, 26, 0.1019607843);
}
.newl .inps {
  display: flex;
  margin-top: 50px;
  position: relative;
}
.newl .inps .btn-sends {
  position: absolute;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF4F2C;
  border-radius: 7px;
  color: #fff;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}
.newl h4 {
  font-weight: bold;
  font-family: Got;
  color: #fff;
  font-size: 25px;
  text-align: center;
}
.newl input {
  border-radius: 10px !important;
  border: 0;
  height: 57px;
}
.newl input::placeholder {
  font-family: Got;
  font-weight: bold;
  opacity: 0.6;
}

footer {
  background-color: #F0F0F0;
  padding: 50px 0 0 0;
}
footer .footlogo {
  width: 120px;
  max-width: 100%;
  margin-top: 50px;
  object-fit: contain;
}
footer .fotheader {
  font-size: 21px;
  font-family: Got;
  margin-bottom: 25px;
  font-weight: bold;
  color: #1E0A0A;
}
footer a {
  display: block;
  font-family: Got;
  font-weight: bold;
  color: #1E0A0A;
  opacity: 0.7;
  padding-left: 15px;
  font-size: 15px;
  margin-bottom: 13px;
}
footer .social {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 30px;
  color: #FF4F2C;
  gap: 30px;
}
footer .social i {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
footer .copy {
  margin-top: 50px;
  background-color: #DFDDDD;
  padding: 15px 0;
  color: #1E0A0A;
  font-family: Got;
  font-weight: bold;
}
footer .minh {
  min-height: 180px;
}

.rightnav {
  position: fixed;
  z-index: 555;
  font-family: Got;
  font-weight: bold;
  top: 25%;
  right: 0;
  padding: 8px;
  background-color: #FF4F2C;
  border-radius: 34px 0 0 34px;
}
.rightnav .icon {
  position: relative;
  display: block;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3529411765);
}
.rightnav .icon:last-child {
  border-bottom: 0;
}
.rightnav .icon span {
  position: absolute;
  opacity: 0;
  transform: translate(100%, -50%);
  top: 50%;
  transition: all 0.6s ease-in;
}
.rightnav .icon:hover span {
  opacity: 1;
  background-color: #FF4F2C;
  display: inline-block;
  padding: 11px 25px;
  transform: translate(-120%, -50%);
  border-radius: 7px;
}

.mobbar {
  display: none;
  position: fixed;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  padding: 13px;
  bottom: 1%;
  z-index: 888;
  box-shadow: 4px 7px 9px rgba(33, 25, 25, 0.3098039216);
  border-radius: 8px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}
.mobbar a {
  color: #FF4F2C;
  width: 20%;
  text-align: center;
  font-family: Got;
  font-weight: bold;
}
.mobbar a.activation {
  width: 40%;
  color: #FF4F2C;
  background-color: rgba(255, 79, 44, 0.1490196078);
  padding: 8px 15px 9px 15px;
  border-radius: 7px;
}

.openmenu, .mobnavbar, .close {
  display: none;
}

.showform {
  border: 0;
  border-radius: 7px;
  background-color: #FF4F2C;
  color: #fff;
  font-family: Got;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
}

.langmen {
  min-width: 2rem;
  transform: translateX(39%);
}

.mini-header {
  padding: 40px 0 30px 0;
}
.mini-header ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Got;
  font-weight: bold;
}
.mini-header ul li a {
  color: #1E0A0A;
}
.mini-header ul li.active {
  color: #FF4F2C;
}

.contacts {
  background-color: rgba(201, 201, 201, 0.1215686275);
  padding: 50px 0;
}
.contacts .contcard {
  background-color: #FFFFFF;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 25px;
  font-family: Got;
  gap: 35px;
  font-weight: bold;
}
.contacts .contcard .icons {
  width: 20%;
}
.contacts .contcard .texts {
  width: 80%;
}
.contacts .contcard p {
  color: #FF4F2C;
  font-size: 18px;
}
.contacts .contcard i {
  color: #FF4F2C;
  width: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  background-color: #F8F8F8;
}

.base-form {
  border-radius: 12px;
  font-family: Got;
  font-weight: bold;
  background-color: #fff;
  padding: 40px;
}
.base-form .doted {
  border-radius: 12px;
  padding: 30px;
  border: 1px dashed #095646;
}
.base-form .doted .send {
  margin: 30px auto;
}
.base-form input, .base-form textarea, .base-form select {
  margin-bottom: 30px;
  background-color: #F5F5F5;
  border: 0;
}
.base-form input ::placeholder, .base-form textarea ::placeholder, .base-form select ::placeholder {
  font-family: Got;
  font-size: 11px;
  font-weight: bold;
  color: #707070;
}
.base-form input, .base-form select, .base-form textarea {
  min-height: 70px;
  border-radius: 3px;
  padding: 13px 38px;
}
.base-form h4 {
  font-weight: bold;
  font-size: 21px;
  color: #1B3C35;
  margin-bottom: 35px;
}
.base-form button {
  border-radius: 3px;
  border: 0;
  color: #fff;
  padding: 13px 38px;
  font-family: Got;
  font-size: 18px;
  font-weight: bold;
}
.base-form button.send {
  background-color: #36BB2C;
  display: block;
  margin: 50px auto;
}
.base-form button.save-user {
  background-color: #FF4F2C;
}

.useraside {
  background-color: #FFFFFF;
  border-radius: 12px;
}
.useraside .userinfo {
  padding: 30px 50px;
  display: flex;
  align-items: center;
}
.useraside .userinfo .ic {
  width: 30%;
}
.useraside .userinfo .ic i {
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(201, 201, 201, 0.4431372549);
  border-radius: 50%;
  color: #FF4F2C;
  width: 64px;
  height: 64px;
}
.useraside .userinfo .names {
  width: 70%;
}
.useraside .userinfo .names p {
  font-family: Got;
  font-size: 18px;
  color: #1E0A0A;
  margin-bottom: 9px;
  font-weight: bold;
}
.useraside .userinfo .names p::first-line {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}
.useraside .usermenus {
  margin-top: 50px;
}
.useraside .usermenus ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.useraside .usermenus ul li {
  border-left: 2px solid transparent;
  transition: all 0.6s linear;
  padding: 11px 50px 14px;
}
.useraside .usermenus ul li:first-child {
  border-left: 2px solid #095646;
}
.useraside .usermenus ul li:hover {
  border-left: 2px solid #095646;
}
.useraside .usermenus ul li i {
  margin-right: 25px;
  font-size: 18px;
  color: #707070;
  position: relative;
  top: 3px;
}
.useraside .usermenus ul li a {
  font-family: Got;
  color: rgba(32, 61, 55, 0.8666666667);
  font-size: 16px;
  font-weight: bold;
}

#bd i {
  position: absolute;
  right: 30px;
  top: 24%;
}

.auth-sec {
  border-radius: 12px;
  font-family: Got;
  font-weight: bold;
  background-color: #fff;
  padding: 40px;
}
.auth-sec h4 {
  font-weight: bold;
  font-size: 21px;
  color: #1B3C35;
  margin-bottom: 35px;
}

.myorders {
  border: 1px solid rgba(201, 201, 201, 0.28);
  border-radius: 3px;
  padding: 20px;
  border-left: 4px solid transparent;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.myorders:hover {
  border-left: 4px solid #095646;
}
.myorders h5 {
  font-size: 16px;
  font-weight: bold;
  font-family: Got;
  color: #1B3C35;
}
.myorders p {
  font-family: Got;
  font-weight: bold;
  color: #1B3C35;
  opacity: 0.6;
  margin-bottom: 0;
  font-size: 12px;
}
.myorders p.status.succ {
  color: rgb(41, 154, 41);
}

.addrow {
  padding: 40px;
  border-top: 1px dashed rgba(204, 204, 204, 0.3411764706);
}

.user-addr {
  position: relative;
  background-color: whitesmoke;
  padding: 22px;
  border: 1px solid rgba(201, 201, 201, 0.2);
  border-radius: 7px;
  min-height: 88px;
}
.user-addr p {
  font-size: 14px;
  color: #000000;
  opacity: 0.6;
  font-family: Got;
  font-weight: bold;
  margin-bottom: 0;
}
.user-addr .edit {
  position: absolute;
  right: 7px;
  top: 7px;
  background-color: rgba(139, 195, 74, 0.4588235294);
  color: #4CAF50;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 11px;
}
.user-addr .addtrash {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.user-addr .addtrash button {
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 40px;
  height: 40px;
  opacity: 0;
  color: red;
  transform: scale(0);
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(201, 201, 201, 0.2);
  border-radius: 50%;
}
.user-addr:hover button {
  transform: scale(1);
  opacity: 1;
}

.costumcheck label {
  width: 100%;
  background-color: #F5F5F5;
  height: 43px;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9px;
  position: relative;
  color: #707070;
  padding-right: 14px;
}
.costumcheck label .ball {
  width: 32px;
  height: 32px;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(96, 125, 139, 0.3019607843);
  border-radius: 50%;
}
.costumcheck label .borders {
  position: absolute;
  width: 100%;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 50px;
  border: 1px solid rgba(255, 0, 0, 0);
  display: block;
}
.costumcheck label input:checked ~ .ball {
  border: 1px solid rgba(255, 0, 0, 0);
  background-color: #FF4F2C;
}
.costumcheck label input:checked ~ .borders {
  border: 1px solid #FF4F2C;
}

.regis {
  padding: 0 25px;
}
.regis input {
  border: 0;
  border-radius: 7px;
  font-family: Got;
  font-weight: bold;
  height: 65px;
  background-color: #F5F5F5;
  margin-bottom: 30px;
}
.regis input::placeholder {
  font-family: Got;
  font-weight: bold;
}
.regis button {
  color: #fff;
  background-color: #FF4F2C;
  border-radius: 7px;
  padding: 12px 22px;
  font-family: Got;
  font-weight: bold;
  border: 0;
}

.modal-content {
  border-radius: 30px;
}

.modal-body {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.modal-body::-webkit-scrollbar {
  width: 3px;
  border-radius: 7px;
}
.modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 7px;
}
.modal-body::-webkit-scrollbar-thumb {
  background: #FF4F2C;
  border-radius: 7px;
  border-radius: 7px;
}
.modal-body::-webkit-scrollbar-thumb:hover {
  background: #095646;
}

.dialog-header {
  justify-content: space-between;
  padding: 35px 0;
  display: flex;
}
.dialog-header h6 {
  font-family: Got;
  font-weight: bold;
  color: #095646;
  font-size: 21px;
  margin-bottom: 0;
  padding: 15px 45px;
  display: flex;
  align-items: center;
  position: relative;
}
.dialog-header h6::before {
  content: "";
  width: 5px;
  display: inline-block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FF4F2C;
  border-radius: 0 7px 7px 0;
}
.dialog-header .btn-close {
  width: 50px;
  height: 50px;
  background-color: rgba(201, 201, 201, 0.1882352941);
  border-radius: 50%;
  opacity: 1;
  margin-right: 30px;
}

.socialsign {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 0 12px;
}
.socialsign.fb {
  background-color: #2e89ff;
}
.socialsign.goo {
  background-color: #e94235;
}

.openregister {
  background-color: rgba(96, 125, 139, 0.1294117647);
  padding: 25px;
  text-align: center;
  margin: 15px 0;
  border-radius: 12px;
}
.openregister p {
  font-family: Got;
  font-weight: bold;
  margin-bottom: 25px;
}
.openregister button {
  background-color: #095646 !important;
}

@media (max-width: 1400px) {
  .products .prodcard .options {
    padding: 13px 10px;
  }

  .products .prodcard .cardbody .bywith button {
    padding: 13px 4px;
  }

  .logosec {
    width: 20% !important;
  }

  .navbar-nav {
    width: 47% !important;
  }
}
@media (max-width: 1200px) {
  .banners {
    width: 23% !important;
  }

  .logosec {
    width: 17% !important;
  }

  .navbar-nav {
    width: 60% !important;
  }

  .products .prodcard .options .item p {
    font-size: 9px;
  }

  .products .prodcard .cardbody .bywith button {
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  .mobbar {
    display: flex;
  }

  .search select {
    border-radius: 8px;
    padding: 13px;
    border: 1px solid rgba(9, 86, 71, 0.1176470588);
  }

  .banners,
.navbar-nav,
.rightnav {
    display: none !important;
  }

  .logosec {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logosec .openmenu {
    display: flex;
    border: 0;
    background-color: rgba(255, 79, 44, 0.3411764706);
    color: #FF4F2C;
    font-size: 34px;
    border-radius: 7px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  .logosec .logo {
    position: relative;
    top: 0;
  }

  .navbar {
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgba(16, 17, 16, 0.0901960784);
    box-shadow: 4px 7px 9px rgba(9, 4, 4, 0.1490196078);
  }

  .mobnavbar {
    transition: all 0.6s ease-in-out;
    transform: translateX(-100%);
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #fff;
    font-family: Got;
    font-weight: bold;
    width: 100vw;
    z-index: 99999;
  }
  .mobnavbar.show {
    transform: translateX(0);
  }
  .mobnavbar .indexpage {
    display: flex;
  }
  .mobnavbar .indexpage a {
    padding: 10px 15px 13px 15px;
    color: #fff;
    text-align: center;
  }
  .mobnavbar .indexpage a:first-child {
    width: 50%;
    background-color: #095646;
  }
  .mobnavbar .indexpage a:last-child {
    width: 50%;
    background-color: #FF4F2C;
  }
  .mobnavbar .morepage {
    padding: 20px;
    margin-top: 30px;
  }
  .mobnavbar .morepage a {
    display: block;
    padding: 9px 0;
    color: #525454;
  }

  .langs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 15px;
  }
  .langs a {
    padding: 18px;
    width: 33.3333%;
    background-color: #ccc;
    color: #009688;
    text-align: center;
    border-radius: 4px;
  }

  .products .row {
    --bs-gutter-x: inherit;
  }

  .close {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.231372549);
    color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4vh;
  }
}
@media (max-width: 800px) {
  .price + p {
    display: none;
  }

  .bywith {
    display: block !important;
  }
  .bywith button {
    margin-top: 12px !important;
    width: 100% !important;
  }

  .newl {
    padding: 15px 15px;
    margin: 0 15px;
  }
  .newl h4 {
    font-size: 12px;
  }

  .fotheader {
    margin-top: 30px;
  }
  .fotheader a {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
