@font-face {
  font-family: Got;
  src: url("../fonts/GothaProBol.otf");
}
@font-face {
  font-family: kirovi;
  src: url("../fonts/gl-kirovi-bold.ttf");
}
.navbar {
  padding-bottom: 0;
  padding-top: 0;
}

a {
  text-decoration: none;
}

.logo {
  width: 110px;
  object-fit: contain;
  position: absolute;
  top: 7px;
}

.switch {
  margin-right: 40px;
  margin-bottom: 0;
  display: flex;
}
.switch li {
  list-style: none;
}
.switch li a {
  display: block;
  font-size: 14px;
  font-family: Got;
  font-weight: bold;
  color: #FFFFFF;
  padding: 18px 35px;
}
.switch li:first-child {
  border-radius: 0 0 0 20px;
  background-color: #FF4F2C;
}
.switch li:last-child {
  border-radius: 0 0 20px 0;
  background-color: #095646;
}

.profile {
  margin-right: 20px;
}

.catblock {
  margin-right: 20px;
}

#navbarNav {
  justify-content: flex-end;
  align-items: center;
}

.nav-link:not(.lns) {
  font-family: Got;
  font-weight: bold;
  color: #095646;
  font-size: 14px;
}
.nav-link i {
  font-size: 21px;
  top: 3px;
  position: relative;
}

.lns {
  color: #FF4F2C;
}

.catblock,
.lans,
.menu {
  position: relative;
  top: 4px;
}

.menus {
  position: relative;
  top: -3px;
  font-size: 22px;
}
.menus i {
  background-color: #095646;
  color: #fff;
  width: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
  border-radius: 15px;
}

.lans {
  margin-right: 20px;
}

.carts {
  position: relative;
}
.carts span {
  width: 15px;
  position: absolute;
  background-color: #FF4F2C;
  color: #fff;
  font-size: 10px;
  height: 15px;
  top: 9px;
  right: 21px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carts sub {
  font-size: 12px;
  position: relative;
  top: 5px;
}

.search {
  border-radius: 20px;
  margin-top: 50px;
  border: 1px solid #D8D8D8;
  padding: 26px 50px;
  font-family: Got;
}
.search .col-lg-2,
.search .col-lg-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid rgba(30, 10, 10, 0.0784313725);
}
.search .col-lg-2:last-child,
.search .col-lg-3:last-child {
  border-right: 1px solid transparent;
}
.search input:focus,
.search select:focus {
  box-shadow: none !important;
  outline: 0;
}
.search input {
  font-family: Got;
  border-radius: 8px;
  padding: 13px;
  border: 1px solid rgba(9, 86, 71, 0.1176470588);
}
.search input::placeholder {
  opacity: 0.5;
}
.search select {
  border: 0;
  font-weight: bold;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}
.search select::placeholder {
  font-size: 18px;
  color: #1E0A0A;
}
.search .searchsbtn {
  border-radius: 8px;
  background-color: #095646;
  font-size: 21px;
  border: 0;
  color: #fff;
  padding: 8px 15px;
}
.search .gp4 {
  gap: 20px;
}

.subheader {
  margin: 50px 0;
  font-weight: bold;
  font-family: Got;
  font-size: 27px;
}
.subheader .red {
  color: #FF4F2C !important;
}
.subheader .green {
  color: #095646 !important;
}

.products .prodcard {
  position: relative;
  margin-bottom: 35px;
}
.products .prodcard .wish {
  color: #fff;
  font-size: 20px;
  position: absolute;
  z-index: 8888;
  right: 21px;
  top: 12px;
}
.products .prodcard .hoverable {
  overflow: hidden;
  position: relative;
}
.products .prodcard .imghov {
  transition: all 0.6s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.products .prodcard:hover .imghov {
  opacity: 1;
}
.products .prodcard img:not(.imghov) {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 3px 3px 0 0;
}
.products .prodcard .cardbody {
  padding: 13px;
}
.products .prodcard .cardbody h2 {
  font-size: 21px;
  color: #1E0A0A;
}
.products .prodcard .cardbody p:not(.options p) {
  font-family: kirovi;
  margin-top: 15px;
  color: #1E0A0A;
  opacity: 0.7;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  position: relative;
}
.products .prodcard .cardbody p:not(.options p)::before {
  position: absolute;
  content: "";
  height: 22px;
  background-color: white;
  bottom: 0;
  width: 100%;
  opacity: 0.7;
}
.products .prodcard .cardbody .bywith {
  display: flex;
  justify-content: space-between;
  color: #1E0A0A;
  gap: 22px;
}
.products .prodcard .cardbody .bywith button {
  font-weight: bold;
  font-family: Got;
  border-radius: 12px;
  width: 50%;
  border: 0;
  padding: 13px 32px;
  margin-top: 30px;
  font-size: 13px;
}
.products .prodcard .cardbody .bywith button:nth-child(1) {
  background-color: #AFE2D0;
}
.products .prodcard .cardbody .bywith button:nth-child(2) {
  background-color: #F4A195;
}
.products .prodcard .options {
  padding: 13px 35px;
  border: 1px solid rgba(112, 112, 112, 0.2745098039);
  border-radius: 7px;
}
.products .prodcard .options .item {
  cursor: pointer;
  font-family: Got;
  justify-content: space-between;
  gap: 20px;
  display: flex;
  font-weight: bold;
}
.products .prodcard .options .item p {
  font-size: 12px;
  margin-bottom: 0;
}
.products .prodcard .options .item p:first-child {
  color: #FF4F2C;
}
.products .row {
  --bs-gutter-x: 40px;
}

.banner {
  border-radius: 30px;
  align-content: center;
  justify-content: center;
  display: flex;
  padding: 70px;
  color: #fff;
  flex-flow: wrap;
  height: 100%;
  background-image: linear-gradient(45deg, #FF4F2C, #DA4426, #EA3E1B);
}
.banner h3 {
  font-family: Got;
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 24px;
}
.banner p {
  font-family: Got;
  font-weight: bold;
  font-size: 14px;
}

/*# sourceMappingURL=syle.css.map */
